<mat-toolbar class="menu">
    <img src="assets/img/logo2.png" class="img-brand">
    <div class="align-center">
        
    </div>
    <div class="align-right">
        <div>
            <input type="text" placeholder="Pesquise por jogos, peças ou computadores" class="search">
        </div>
        <button (click)="ver_carrinho()" mat-raised-button class="btn-menu">
            <span class="material-icons">
                shopping_cart
            </span>
        </button>
        <div>
            <button  mat-raised-button class="btn-menu">Entrar</button>
        </div>
        <div>
            <button  mat-raised-button class="btn-menu">Cadastrar</button>
        </div>
    </div>
</mat-toolbar>
