<mat-toolbar class="menu">
    <img src="assets/img/logo2.png" class="img-brand">
    <div class="align-right">
        <button  mat-raised-button class="btn-menu">
            <span class="material-icons">
                shopping_cart
            </span>
        </button>
    </div>
    <div class="align-right">
        <button  mat-raised-button class="btn-menu">Entrar</button>
    </div>
    <div class="align-right">
        <button  mat-raised-button class="btn-menu">Cadastrar</button>
    </div>
</mat-toolbar>
