.btn-menu {
    margin: 5px;
    background-color: white;
}

.img-brand {
    width: auto;
    height: 55px;
    padding: 15px;
}

.menu {
    background-color: #000200;
}

.align-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.search {
    width: 270px;
    height: 33px;
    margin: 5px;
    border-radius: 6px;
    border-color: black;
    border: thin solid black;
    background-color:rgb(255, 254, 254);
    text-align: center;
}

.align-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}