.menu-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
    margin-top: 0;
    background-color: rgb(28, 39, 48);
    color: white;
}

.produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 82%;
    overflow: scroll;
    height: calc(100vh - 75px);
}

.product-card {
    margin: 10px;
    max-width: 200px;
    padding: 15px;
    border-radius: 6px;
    border-color: black;
    border: thin solid black;
    /*box-shadow: 0.5px 0.5px 0.5px 1.2px;*/
}

.home-index {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.text-center {
    text-align: center;
}

.img-prod {
    margin: 2px;
    width: calc(100% - 4px);
    height: 200px;
}

.buttons-product {
    display: flex;
    justify-content: center;
}

.btn-ver-mais {
    display: flex;
    justify-content: center;
}

.item-jogo {
    padding: 10px;
    text-align: center;
}

.add-to-favorite {
    color: red;
}